---
layout: default
title: Blog
breadcrumb-title : Blog
---

{% include header-1.html %}
{% include breadcrumb.html %}

<section class="blog-latest-stories section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="blog-feature">
                    <h3>Latest Stories</h3>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                 </div>
            </div>
            <div class="col-md-12 col-lg-3 offset-lg-3">
                <div class="search-bar">
                    <i class="icon fa fa-search"></i>
                    <input class="input-text" type="text" name="eingabe" placeholder="Search">
                  </div>
            </div>
        </div>
        <div>
            <ul class="d-flex">
                <li>
                    <div class="latest-stories">
                        <img src="assets/images/FeaturePosts1.png" alt=""> 
                        <div class="stories">
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">View Post</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="latest-stories">
                        <img src="assets/images/FeaturePosts1.png" alt=""> 
                        <div class="stories">
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">View Post</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="latest-stories">
                        <img src="assets/images/FeaturePosts1.png" alt=""> 
                        <div class="stories">
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">View Post</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="latest-stories">
                        <img src="assets/images/FeaturePosts1.png" alt=""> 
                        <div class="stories">
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">View Post</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="latest-stories">
                        <img src="assets/images/FeaturePosts1.png" alt=""> 
                        <div class="stories">
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">View Post</a>
                            </div>
                        </div>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
</section>

<section class="blog-latest-articles section">
    <div class="blog-articles"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2 text-center">
                <div class="blog-feature">
                    <span>ARTICLE</span>
                    <h3>Latest Articles</h3>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>

        <div class="latest-bg ">
            <div class="owl-carousel  latest-bolg-slider">
                <div class="row item justify-content-center">
                    <div class="col-md-12 col-lg-6 d-flex align-items-center justify-content-center">
                        <img src="assets/images/MakingDecisions.png" alt="">
                    </div>
                    <div class="col-md-12 col-lg-6 blog-feature">
                        <h3>Lorem Ipsum is simply</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="row item justify-content-center">
                    <div class="col-md-12 col-lg-6 d-flex align-items-center justify-content-center">
                        <img src="assets/images/FeaturePosts1.png" alt="">
                    </div>
                    <div class="col-md-12 col-lg-6 blog-feature">
                        <h3>Lorem Ipsum is simply</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog-feature-posts">
    <div class="container section">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2 text-center">
                <div class="blog-feature">
                    <span>ARTICLE</span>
                    <h3>Featured Posts</h3>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-xl-row flex-column">
                    <div class="flex-1 marketing-decision">
                            <img src="assets/images/FeaturePosts1.png" alt="">
                    </div>
                    <div  class="flex branding brand-ml">
                        <div class="branding-pad">
                            <h2>Lorem Ipsum is simply dummy text</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only printer took a galley of</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only printer took a galley of</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only printer took a galley of</p>
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-xl-row flex-column">
                    <div  class="flex branding brand-mr">
                        <div class="branding-pad">
                            <h2>Lorem Ipsum is simply dummy text</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only printer took a galley of</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only printer took a galley of</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only printer took a galley of</p>
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 marketing-decision">                     
                            <img src="assets/images/MakingDecisions.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="recent-on-bloger">
    <div class="container section">
        <div class="row">
            <div class="col-md-6 col-lg-8 offset-lg-2 text-center">
                <div class="blog-feature">
                    <span>ARTICLE</span>
                    <h3>Recent On Bloger</h3>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 pt-md-5 pt-4">
                <div class="bloger-date">
                    <img src="assets/images/MakingDecisions.png" alt="">
                    <div class="bloger-bottom">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting...</p>
                        <div class="row">
                            <div class="col-12 d-flex align-items-center">
                                <span> <i class="fa fa-calendar-o" aria-hidden="true"></i>1 June, 2021</span>
                                <div class="btn-tag-group d-flex">
                                    <a href="#!" class="btn btn-warning btn-min-w ">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pt-md-5 pt-4">
                <div class="bloger-date">
                    <img src="assets/images/MakingDecisions.png" alt="">
                    <div class="bloger-bottom">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting...</p>
                        <div class="row">
                            <div class="col-12 d-flex align-items-center">
                                <span> <i class="fa fa-calendar-o" aria-hidden="true"></i>1 June, 2021</span>
                                <div class="btn-tag-group d-flex">
                                    <a href="#!" class="btn btn-warning btn-min-w ">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pt-md-5 pt-4">
                <div class="bloger-date">
                    <img src="assets/images/MakingDecisions.png" alt="">
                    <div class="bloger-bottom">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting...</p>
                        <div class="row">
                            <div class="col-12 d-flex align-items-center">
                                <span> <i class="fa fa-calendar-o" aria-hidden="true"></i>1 June, 2021</span>
                                <div class="btn-tag-group d-flex">
                                    <a href="#!" class="btn btn-warning btn-min-w ">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pt-md-5 pt-4">
                <div class="bloger-date">
                    <img src="assets/images/MakingDecisions.png" alt="">
                    <div class="bloger-bottom">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting...</p>
                        <div class="row">
                            <div class="col-12 d-flex align-items-center">
                                <span> <i class="fa fa-calendar-o" aria-hidden="true"></i>1 June, 2021</span>
                                <div class="btn-tag-group d-flex">
                                    <a href="#!" class="btn btn-warning btn-min-w ">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pt-md-5 pt-4">
                <div class="bloger-date">
                    <img src="assets/images/MakingDecisions.png" alt="">
                    <div class="bloger-bottom">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting...</p>
                        <div class="row">
                            <div class="col-12 d-flex align-items-center">
                                <span> <i class="fa fa-calendar-o" aria-hidden="true"></i>1 June, 2021</span>
                                <div class="btn-tag-group d-flex">
                                    <a href="#!" class="btn btn-warning btn-min-w ">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pt-md-5 pt-4">
                <div class="bloger-date">
                    <img src="assets/images/MakingDecisions.png" alt="">
                    <div class="bloger-bottom">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting...</p>
                        <div class="row">
                            <div class="col-12 d-flex align-items-center">
                                <span> <i class="fa fa-calendar-o" aria-hidden="true"></i>1 June, 2021</span>
                                <div class="btn-tag-group d-flex">
                                    <a href="#!" class="btn btn-warning btn-min-w ">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="ready_to_get_started">
    <div class="ready">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-6">
                    <div class="section">
                        <h1 class="pb-md-3 pb-3">Ready to get Started</h1>
                        <span class="lines">
                            <span></span>
                            <span></span>
                            <span></span>       
                            <span></span>
                        </span>
                    </div>
                    
                    <div class="form-design mt-5">
                        <form class="container">
                            <div class="row">
                                <div class="form-group col-md-7 col-lg-7">
                                    <label for=""></label>
                                    <input type="text" class="form-control form-control-lg  " placeholder="Your Name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  col-md-9 col-lg-9">
                                    <label for=""></label>
                                    <input type="text" class="form-control form-control-lg " placeholder="Your Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  col-md-11 col-lg-11">
                                    <label for=""></label>
                                    <input type="text" class="form-control form-control-lg " placeholder="Subject">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  col-md-11 col-lg-11">
                                    <label for="exampleFormControlTextarea1"></label>
                                    <input type="text" class="form-control form-control-lg " placeholder="Message"> 
                                </div>
                            </div>
                            <div class="">
                            <div class="pt-3 pt-sm-5 ">
                                <a href="#!" class="btn btn-primary btn-min-w mt-2 ">Work with us</a>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
