---
layout: default
title: Career
breadcrumb-title : Career
---
{% include header-1.html %}
{% include breadcrumb.html %}

<section class="position-relative">
    <div class="job-search">
        <img class="position-absolute" src="assets/images/CareerCartoon.png" alt="">
        <div class="container  section">
            <div class="row">

                        <div class="col-md-12 col-lg-7">   
                            <div class="form-img">                   
                            <div class=" row">
                                <div class="col-md-12 col-lg-7">
                                <div class="">
                                    <h1 class="pb-md-3 pb-3">Job Search</h1>
                                    <span class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>       
                                        <span></span>
                                    </span>
                                </div>
                                <form >
                                    <div class="form-group ">
                                        <label for="exampleFormControlSelect1"></label>
                                        <select class="form-control appearance-none" id="exampleFormControlSelect1">
                                          <option>Shopify Developer</option>
                                          <option>FullStack Developer</option>
                                          <option>ReactNative Developer</option>
                                        </select>
                                      </div>
                                      <div class="form-group ">
                                        <label for="exampleFormControlSelect1"></label>
                                        <select class="form-control appearance-none" id="exampleFormControlSelect1">
                                          <option>Surat, Gujarat</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5</option>
                                        </select>
                                      </div>
                                   
                                    <div class=" mt-4">
                                        <a href="#!" class="btn btn-primary btn-min-w">Submit</a>
                                    </div>
                                   
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>  
                    </div>
            </div>
        </div>
    </div>
</section>

<section class="job-position section"> 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="sec-title center">
                    <span class="sub-title">POSITIONS</span>
                    <h2>Open Job Positions</h2>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="position-relative position-card">
                    <a href="" class="d-flex">
                        <div class="position-img">
                            <img src="./assets/images/PositionReactNativeDeveloper.png" alt="">
                        </div>
                        <div class="position-part">
                            <h3>React Native Developer</h3>
                            <p>See Job Discription</p>
                        </div>
                        <div class="position-icon">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="position-relative position-card">
                    <a href="" class="d-flex">
                        <div class="position-img">
                            <img src="./assets/images/PositionNodeJsDeveloper.png" alt="">
                        </div>
                        <div class="position-part">
                            <h3>Node JS Developer</h3>
                            <p>See Job Discription</p>
                        </div>
                        <div class="position-icon">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="position-relative position-card">
                    <a href="" class="d-flex">
                        <div class="position-img">
                            <img src="./assets/images/PositionFullStackDeveloper.png" alt="">
                        </div>
                        <div class="position-part">
                            <h3>Full Stack Developer</h3>
                            <p>See Job Discription</p>
                        </div>
                        <div class="position-icon">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="position-relative position-card">
                    <a href="" class="d-flex">
                        <div class="position-img">
                            <img src="./assets/images/POsitionShopifyDeveloper.png" alt="">
                        </div>
                        <div class="position-part">
                            <h3>Shopify Developer</h3>
                            <p>See Job Discription</p>
                        </div>
                        <div class="position-icon">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="position-relative position-card">
                    <a href="" class="d-flex">
                        <div class="position-img">
                            <img src="./assets/images/PositionWordpressDeveloper.png" alt="">
                        </div>
                        <div class="position-part">
                            <h3>Wordpress Developer</h3>
                            <p>See Job Discription</p>
                        </div>
                        <div class="position-icon">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="position-relative position-card">
                    <a href="" class="d-flex">
                        <div class="position-img">
                            <img src="./assets/images/PositionAngularDeveloper.png" alt="">
                        </div>
                        <div class="position-part">
                            <h3>Angular Developer</h3>
                            <p>See Job Discription</p>
                        </div>
                        <div class="position-icon">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="position-relative position-card">
                    <a href="" class="d-flex">
                        <div class="position-img">
                            <img src="./assets/images/PositionSeoDeveloper.png" alt="">
                        </div>
                        <div class="position-part">
                            <h3>SEO Developer</h3>
                            <p>See Job Discription</p>
                        </div>
                        <div class="position-icon">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="position-relative position-card">
                    <a href="" class="d-flex">
                        <div class="position-img">
                            <img src="./assets/images/PositionUnityDeveloper.png" alt="">
                        </div>
                        <div class="position-part">
                            <h3>Unity Developer</h3>
                            <p>See Job Discription</p>
                        </div>
                        <div class="position-icon">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="position-relative position-card">
                    <a href="" class="d-flex">
                        <div class="position-img">
                            <img src="./assets/images/PositionWebDesigner.png" alt="">
                        </div>
                        <div class="position-part">
                            <h3>Web Designer</h3>
                            <p>See Job Discription</p>
                        </div>
                        <div class="position-icon">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="position-relative position-card">
                    <a href="" class="d-flex">
                        <div class="position-img">
                            <img src="./assets/images/PositionGraphicDesigner.png" alt="">
                        </div>
                        <div class="position-part">
                            <h3>Graphic Designer</h3>
                            <p>See Job Discription</p>
                        </div>
                        <div class="position-icon">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="innovative">
    <div class="container section">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="sec-title center">
                    <span class="sub-title">ABOUT</span>
                    <h2>Our Values</h2>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                </div>
            </div>
        </div>
        <ul class="box-item row">
            <li class="col text-left">
                <div class="item corporate-bg">
                    <div class="corporate-img">
                        <img src="assets/images/Innovative.png" alt="Corporate">
                    </div>
                    <h3>Innovative</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <div class="btn-tag-group">
                        <a href="#!" class="btn btn-sky btn-min-w ">More details</a>
                    </div>
                </div>
            </li>
            <li class="col">
                <div class="item ui-ux-bg">
                    <div class="corporate-img">
                        <img src="assets/images/Playful.png" alt="Mobile">
                    </div>
                    <h3>Playful</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <div class="btn-tag-group">
                        <a href="#!" class="btn btn-sky btn-min-w ">More details</a>
                    </div>
                </div>
            </li>
            <li class="col">
                <div class="item graphics-bg">
                    <div class="corporate-img">
                        <img src="assets/images/Collaborative.png" alt="Graphics icon">
                    </div>
                    <h3>Collaborative</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <div class="btn-tag-group">
                        <a href="#!" class="btn btn-sky btn-min-w ">More details</a>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
    
</section>

<section class="section recruitment-process">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="sec-title center">
                    <span class="sub-title">OUR PROCESS</span>
                    <h2>Our Recruitment Process</h2>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        <span>Step 1</span>
                        <div class="item">
                            <img src="assets/images/Attract.png" alt="page pen">
                        </div>
                        <h5> Attract</h5>
                    </li>
                    <li>
                        <span>Step 2</span>
                        <div class="item">
                            <img src="assets/images/Screen.png" alt="chat">
                        </div>
                        <h5> Screen</h5>
                    </li>
                    <li>
                        <span>Step 3</span>
                        <div class="item">
                            <img src="assets/images/Interview.png" alt="Browser">
                        </div>
                        <h5> Interview</h5>
                    </li>
                    <li>
                        <span>Step 4</span>
                        <div class="item">
                            <img src="assets/images/Offer.png" alt="Keyboard">
                        </div>
                        <h5> Offer</h5>
                    </li>
                    <li>
                        <span>Step 5</span>
                        <div class="item">
                            <img src="assets/images/Hire.png" alt="Megaphone">
                        </div>
                        <h5> Hire</h5>
                    </li>
                </ul>
            </div>
        </div>    
    </div>

</section>
<section class="culture-benefits section">
    <div class="culture-benefit-hand">
        <img src="./assets/images/CultureHand.png" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-12 col-lg-7 digital-marketing text-center">
                <h3>Culture & Benefits</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
            </div>
        </div>
        <div class="row culture-benefits-part justify-content-center">
            <div class="col-md-6 col-lg-4 ">
                <img src="./assets/images/PrioritizingTraining.png">
                <p class="text-center">Prioritizing training</p>
            </div>
            <div class="col-md-6 col-lg-4 pad-top">
                <img src="./assets/images/ExcellentWorkEnvironment.png">
                <p class="text-center">Excellent Work Environment</p>
            </div>
            <div class="col-md-6 col-lg-4 ">
                <img src="./assets/images/CompetitivePayWithProfitSharing.png">
                <p class="text-center">Competitive Pay with Profit Sharing</p>
            </div>
        </div>
    </div>

</section>
<section class="ready_to_get_started">
    <div class="ready">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-6">
                    <div class="section">
                        <h1 class="pb-md-3 pb-3">Ready to get Started</h1>
                        <span class="lines">
                            <span></span>
                            <span></span>
                            <span></span>       
                            <span></span>
                        </span>
                    </div>
                    
                    <div class="form-design mt-5">
                        <form class="container">
                            <div class="row">
                                <div class="form-group col-md-7 col-lg-7">
                                    <label for=""></label>
                                    <input type="text" class="form-control form-control-lg  " placeholder="Your Name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  col-md-9 col-lg-9">
                                    <label for=""></label>
                                    <input type="text" class="form-control form-control-lg " placeholder="Your Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  col-md-11 col-lg-11">
                                    <label for=""></label>
                                    <input type="text" class="form-control form-control-lg " placeholder="Subject">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  col-md-11 col-lg-11">
                                    <label for="exampleFormControlTextarea1"></label>
                                    <input type="text" class="form-control form-control-lg " placeholder="Message"> 
                                </div>
                            </div>
                            <div class="">
                            <div class="pt-3 pt-sm-5 ">
                                <a href="#!" class="btn btn-primary btn-min-w mt-2 ">Work with us</a>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
