---
layout: default
title: Contact
breadcrumb-title : Contact
---
{% include header-1.html %}
{% include breadcrumb.html %}

<section class="business-enquiry">
    <div class="container section">
        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div class="form-img">
                    <div class="col-md-9 col-lg-12 ">                        
                        <div class="form-design ">
                            <div class="">
                                <h1 class="pb-md-3 pb-3">Business Enquiry</h1>
                                <span class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>       
                                    <span></span>
                                </span>
                            </div>
                            <form >
                                <div class="row pt-sm-3 pt-1">
                                    <div class=" col">
                                        <label for=""></label>
                                        <input type="text" class="form-control form-control-lg  " placeholder="Your Name">
                                    </div>
                                    <div class=" col">
                                        <label for=""></label>
                                        <input type="text" class="form-control form-control-lg " placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col">
                                        <label for=""></label>
                                        <input type="text" class="form-control form-control-lg " placeholder="Phone Number">
                                    </div>
                                    <div class=" col">
                                        <label for="exampleFormControlSelect1"></label>
                                        <select class="form-control appearance-none" id="exampleFormControlSelect1">
                                          <option>Interested In</option>
                                          <option>1</option>
                                          <option>2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-md-12 col-lg-12">
                                        <label for="exampleFormControlTextarea1"></label>
                                       <textarea name="" class="form-control" cols="30" rows="5">Type Your Message Here</textarea>
                                    </div>
                                </div>
                               
                                <div class="">
                                    <a href="#!" class="btn btn-primary btn-min-w mt-2 ">Submit request</a>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="contact-map"></div>
</section>

<section class="contact-get-in-touch d-none d-md-block">
    <div class="white-box call-us ">
        <img src="assets/images/CallUs.png" alt="">
        <h2>Call Us</h2>
        <span>+91 70167 42312</span>
    </div>
    <div class="white-box join-us">
        <img src="assets/images/JoinUs.png" alt="">
        <h2>Join Us</h2>
        <a href="#!" class="btn btn-warning">Current Opening</a>
    </div>
    <div class="white-box write-on ">
        <img src="assets/images/WriteOn.png" alt="">
        <h2>Write On</h2>
        <span>Hello@aacstudio.co</span>
    </div>
    <div class="hand"></div>
    <div class="container-fluid">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-lg-5">
                    <div class="sec-title left">
                        <span class="sub-title">Contact Us</span>
                        <h2>Get in Touch</h2>
                        <span class="lines">
                            <span></span>
                            <span></span>
                            <span></span>       
                            <span></span>
                        </span>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                    <img src="assets/images/ManWithSofa.png" alt="" class="img-fluid img-right">            
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-get-in-touch-mobile  d-block d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5">
                <div class="sec-title left">
                    <span class="sub-title">Contact Us</span>
                    <h2>Get in Touch</h2>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>       
                        <span></span>
                    </span>
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                </p>
                <img src="assets/images/ManWithSofa.png" alt="" class="img-fluid img-right">            
            </div>
        </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="white-box join-us mt-5 mb-3">
                <img src="assets/images/JoinUs.png" alt="">
                <h2>Join Us</h2>
                <a href="#!" class="btn btn-warning">Current Opening</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="white-box call-us mt-3 mb-3">
                <img src="assets/images/CallUs.png" alt="">
                <h2>Call Us</h2>
                <span>+91 70167 42312</span>
            </div> 
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="white-box write-on mt-3 mb-5">
                <img src="assets/images/WriteOn.png" alt="">
                <h2>Write On</h2>
                <span>Hello@aacstudio.co</span>
            </div>
        </div>
    </div>
    </div>
</section>


