---
layout: default
title: Development And Operations
breadcrumb-title : Services
---

{% include header-1.html %}
{% include breadcrumb.html %}


<section class="position-relative">
    <div class="technical-tools-expert">
        <img class="position-absolute" src="assets/images/ServiceCartton4.png" alt="">
    <div class="container  section">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2 text-center">
                <div class="overview digital-marketing">
                    <span>Overview</span>
                    <h3>Technical tools we expert in</h3>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-12">
                <ul class="items-list text-center d-block d-sm-none owl-carousel slider">
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/Fish.svg" alt="Fish">
                        </div>
                    </li>
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/Jenkins.svg" alt="Jenkins">
                        </div>
                    </li> 
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/AmazonWebServices.svg" alt="Amazon-web-services-2">
                        </div>
                    </li> 
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/XMLID8.svg" alt="XMLID_8_">
                        </div>
                    </li>
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/ElasticElasticsearch.svg" alt="Elastic Elasticsearch">
                        </div>
                    </li> 
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/Gitlab.svg" alt="Gitlab">
                        </div>
                    </li>
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/Vagrant.svg" alt="Vagrant">
                        </div>
                    </li>
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/GoogleCloud.svg" alt="Google Cloud">
                        </div>
                    </li>
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/Kubernets.svg" alt="Kubernets">
                        </div>
                    </li>
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/Ansible.svg" alt="Ansible">
                        </div>
                    </li>
                </ul>
                <div class="d-none d-sm-block ">
                <ul class="items-list text-center">
                    <li>
                        <div class="item1">
                            <img src="assets/images/Fish.svg" alt="Fish">
                        </div>
                    </li>
                    <li>
                        <div class="item1">
                            <img src="assets/images/Jenkins.svg" alt="Jenkins">
                        </div>
                    </li> 
                    <li>
                        <div class="item1">
                            <img src="assets/images/AmazonWebServices.svg" alt="Amazon-web-services-2">
                        </div>
                    </li> 
                    <li>
                        <div class="item1">
                            <img src="assets/images/XMLID8.svg" alt="XMLID_8_">
                        </div>
                    </li>
                    <li>
                        <div class="item1">
                            <img src="assets/images/ElasticElasticsearch.svg" alt="Elastic Elasticsearch">
                        </div>
                    </li> 
                    <li>
                        <div class="item1">
                            <img src="assets/images/Gitlab.svg" alt="Gitlab">
                        </div>
                    </li>
                    <li>
                        <div class="item1">
                            <img src="assets/images/Vagrant.svg" alt="Vagrant">
                        </div>
                    </li>
                    <li>
                        <div class="item1">
                            <img src="assets/images/GoogleCloud.svg" alt="Goole Cloud">
                        </div>
                    </li>
                    <li>
                        <div class="item1">
                            <img src="assets/images/Kubernets.svg" alt="Kubernets">
                        </div>
                    </li>
                    <li>
                        <div class="item1">
                            <img src="assets/images/Ansible.svg" alt="Ansible">
                        </div>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="digital-marketing-parts">
    <div class="container">
        <div class="row section">
            <div class="col-mg-12 col-lg-12 d-flex justify-content-center">
                <img src="assets/images/DigitalMarketingParts.svg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="what-we-do">
    <div class="container">
        <div class="row justify-content-center section">
            <div class="col-md-12 col-lg-7 digital-marketing text-center">
                <h3>What We Do</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
            </div>
        </div>
        <div>
            <ul class="box-item">
                <li>
                    <div class="item text-center">
                        <img src="assets/images/CloudExpertise.png" alt="Cloud-Experience">
                        <h3>Cloud Expertise</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item  text-center">
                        <img src="assets/images/InfrastructureAsCode.png" alt="Infrastructure-as-code">
                        <h3>Infrastructure as Code</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item text-center">
                        <img src="assets/images/Configuration.png" alt="Configuration">
                        <h3>Configuration Management</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item  text-center">
                        <img src="assets/images/ContinuousIntegration.png" alt="Continuous-Integration-development">
                        <h3>Continuous Integration & Development</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li><li>
                    <div class="item text-center">
                        <img src="assets/images/Iot.png" alt="Iot">
                        <h3>IOT</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item  text-center">
                        <img src="assets/images/Microservices.png" alt="Microservices">
                        <h3>Microservices</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="form-ready-to">
    <div class="container section">
        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div class="form-img">
                    <div class="col-md-9 col-lg-12 ">                        
                        <div class="form-design ">
                            <div class="">
                                <h1 class="pb-md-3 pb-3">Ready to get Started</h1>
                                <span class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>       
                                    <span></span>
                                </span>
                            </div>
                            <form >
                                <div class="row pt-sm-3 pt-1">
                                    <div class=" col">
                                        <label for=""></label>
                                        <input type="text" class="form-control form-control-lg  " placeholder="Your Name">
                                    </div>
                                    <div class=" col">
                                        <label for=""></label>
                                        <input type="text" class="form-control form-control-lg " placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-md-12 col-lg-12 pt-sm-3 pt-1">
                                        <label for=""></label>
                                        <input type="text" class="form-control form-control-lg " placeholder="Subject">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-md-12 col-lg-12">
                                        <label for="exampleFormControlTextarea1"></label>
                                       <textarea name="" class="form-control" cols="30" rows="5">Message</textarea>
                                    </div>
                                </div>
                               
                                <div class="">
                                    <a href="#!" class="btn btn-primary btn-min-w mt-2 ">Work with us</a>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


