---
layout: default
title: Digital marketing & 
       SEO, Lead generation
breadcrumb-title : Services
---
{% include header-1.html %}
{% include breadcrumb.html %}

<section class="position-relative">
    <div class="technical-tools">
        <img class="position-absolute" src="assets/images/digital-marketing-cartoon.png" alt="">
    <div class="container  section">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2 text-center">
                <div class="overview digital-marketing">
                    <span>Overview</span>
                    <h3>Technical tools we work on</h3>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-12">
                <ul class="items-list text-center d-block d-sm-none owl-carousel slider">
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/semrush.svg" alt="Semrush">
                        </div>
                    </li>
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/google-analytics.svg" alt="Google analytics">
                        </div>
                    </li> 
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/yoast_logo_rgb_optm.svg" alt="Yoast logo">
                        </div>
                    </li> 
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/digital-marketing-g-icon.svg" alt="G icon">
                        </div>
                    </li>
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/ic_analytics.svg" alt="Ic analytics ">
                        </div>
                    </li> 
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/canva-seeklogo.com.svg" alt="Canva seeklogo">
                        </div>
                    </li>
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/Moz_logo.svg" alt="Moz logo">
                        </div>
                    </li>
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/mailchimp-freddie-icon.svg" alt="Mailchimp freddie">
                        </div>
                    </li>
                    <li class="item">
                        <div class="item1">
                            <img src="assets/images/digital-double-dot.svg" alt="Digital double dot">
                        </div>
                    </li>
                </ul>
                <div class="d-none d-sm-block ">
                <ul class="items-list text-center">
                    <li>
                        <div class="item1">
                            <img src="assets/images/semrush.svg" alt="Semrush">
                        </div>
                    </li>
                    <li>
                        <div class="item1">
                            <img src="assets/images/google-analytics.svg" alt="Google analytics">
                        </div>
                    </li> 
                    <li>
                        <div class="item1">
                            <img src="assets/images/yoast_logo_rgb_optm.svg" alt="Yoast logo">
                        </div>
                    </li> 
                    <li>
                        <div class="item1">
                            <img src="assets/images/digital-marketing-g-icon.svg" alt="G icon">
                        </div>
                    </li>
                    <li>
                        <div class="item1">
                            <img src="assets/images/ic_analytics.svg" alt="Ic analytics ">
                        </div>
                    </li> 
                    <li>
                        <div class="item1">
                            <img src="assets/images/canva-seeklogo.com.svg" alt="Canva seeklogo">
                        </div>
                    </li>
                    <li>
                        <div class="item1">
                            <img src="assets/images/Moz_logo.svg" alt="Moz logo">
                        </div>
                    </li>
                    <li>
                        <div class="item1">
                            <img src="assets/images/mailchimp-freddie-icon.svg" alt="Mailchimp freddie">
                        </div>
                    </li>
                    <li>
                        <div class="item1">
                            <img src="assets/images/digital-double-dot.svg" alt="Digital double dot">
                        </div>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="digital-marketing-parts">
    <div class="container">
        <div class="row section">
            <div class="col-mg-12 col-lg-12 d-flex justify-content-center">
                <img src="assets/images/digital-marketing-parts.svg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="what-we-do">
    <div class="container">
        <div class="row justify-content-center section">
            <div class="col-md-12 col-lg-7 digital-marketing text-center">
                <h3>What We Do</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
            </div>
        </div>
        <div>
            <ul class="box-item">
                <li>
                    <div class="item text-center">
                        <img src="assets/images/Visibility.svg" alt="Visibility">
                        <h3>Social Media</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item  text-center">
                        <img src="assets/images/mobile-SEO.svg" alt="Mobile Seo">
                        <h3>Search Engine Optimization</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item text-center">
                        <img src="assets/images/Video-Web.svg" alt="Visibility">
                        <h3>Video</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item  text-center">
                        <img src="assets/images/Responsive-website.svg" alt="Responsive website">
                        <h3>Mobile & Tablet</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li><li>
                    <div class="item text-center">
                        <img src="assets/images/statistic.svg" alt="Statistic">
                        <h3>Return on investment</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item  text-center">
                        <img src="assets/images/Ecommerce.svg" alt="Ecommerce">
                        <h3>Search Engine Marketing</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li><li>
                    <div class="item text-center">
                        <img src="assets/images/Subscription.svg" alt="Subscription">
                        <h3>Pay per click</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item  text-center">
                        <img src="assets/images/Blogging.svg" alt="Blogging">
                        <h3>Content</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                        <div class="btn-tag-group">
                            <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="digital-get-in-touch d-none d-md-block">
    <div class="white-box call-us ">
        <img src="assets/images/call-us.png" alt="">
        <h2>Call Us</h2>
        <span>+91 70167 42312</span>
    </div>
    <div class="white-box join-us">
        <img src="assets/images/join-us.png" alt="">
        <h2>Join Us</h2>
        <a href="#!" class="btn btn-warning">Current Opening</a>
    </div>
    <div class="white-box write-on ">
        <img src="assets/images/write-on.png" alt="">
        <h2>Write On</h2>
        <span>Hello@aacstudio.co</span>
    </div>
    <div class="hand"></div>
    <div class="container-fluid">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-lg-5">
                    <div class="sec-title left">
                        <span class="sub-title">Contact Us</span>
                        <h2>Get in Touch</h2>
                        <span class="lines">
                            <span></span>
                            <span></span>
                            <span></span>       
                            <span></span>
                        </span>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                    <img src="assets/images/man-with-sofa.png" alt="" class="img-fluid img-right">            
                </div>
            </div>
        </div>
    </div>
</section>

<section class="digital-get-in-touch-mobile  d-block d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5">
                <div class="sec-title left">
                    <span class="sub-title">Contact Us</span>
                    <h2>Get in Touch</h2>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>       
                        <span></span>
                    </span>
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                </p>
                <img src="assets/images/man-with-sofa.png" alt="" class="img-fluid img-right">            
            </div>
        </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="white-box join-us mt-5 mb-3">
                <img src="assets/images/join-us.png" alt="">
                <h2>Join Us</h2>
                <a href="#!" class="btn btn-warning">Current Opening</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="white-box call-us mt-3 mb-3">
                <img src="assets/images/call-us.png" alt="">
                <h2>Call Us</h2>
                <span>+91 70167 42312</span>
            </div> 
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="white-box write-on mt-3 mb-5">
                <img src="assets/images/write-on.png" alt="">
                <h2>Write On</h2>
                <span>Hello@aacstudio.co</span>
            </div>
        </div>
    </div>
    </div>
</section>
