---
layout: default
title: Graphics  UI / UX
breadcrumb-title : services
---
{% include header-1.html %}
{% include breadcrumb.html %}

<section class="position-relative">
    <div class="technical-tools">
        <img class="position-absolute" src="assets/images/digitalMarketingCartoon.png" alt="">
    <div class="container  section">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2 text-center">
                <div class="overview digital-marketing">
                    <span>Overview</span>
                    <h3>Technical tools we work on</h3>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <ul class="col items-list d-flex row d-block d-sm-none owl-carousel slider">
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/xd.png" alt="Xd">
                    </div>
                </li>
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/figma.png" alt="Figma">
                    </div>
                </li> 
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/ai.png" alt="Illustator">
                    </div>
                </li> 
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/ps.png" alt="Photoshop">
                    </div>
                </li>
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/blender.png" alt="Blender">
                    </div>
                </li>
            </ul>
        </div>
            <div class="d-none d-sm-block ">
            <ul class="items-list d-flex row ">
                <li class="">
                    <div class="item1">
                        <img src="assets/images/xd.png" alt="Xd">
                    </div>
                </li>
                <li class="">
                    <div class="item1">
                        <img src="assets/images/figma.png" alt="Figma">
                    </div>
                </li> 
                <li class="">
                    <div class="item1">
                        <img src="assets/images/ai.png" alt="Illustator">
                    </div>
                </li> 
                <li class="">
                    <div class="item1">
                        <img src="assets/images/ps.png" alt="Photoshop">
                    </div>
                </li>
                <li class="">
                    <div class="item1">
                        <img src="assets/images/blender.png" alt="Blender">
                    </div>
                </li>
            </ul>
        </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="corporate-branding">
    <div class="container section">
        <ul class="box-item row">
            <li class="col text-left">
                <div class="item corporate-bg">
                    <div class="corporate-img">
                        <img src="assets/images/corporateIcon.png" alt="Corporate">
                    </div>
                    <h3>Corporate Branding</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <div class="btn-tag-group">
                        <a href="#!" class="btn btn-sky btn-min-w ">More details</a>
                    </div>
                </div>
            </li>
            <li class="col">
                <div class="item ui-ux-bg">
                    <div class="corporate-img">
                        <img src="assets/images/mobileDevice.png" alt="Mobile">
                    </div>
                    <h3>UI/UX Web & App</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <div class="btn-tag-group">
                        <a href="#!" class="btn btn-sky btn-min-w ">More details</a>
                    </div>
                </div>
            </li>
            <li class="col">
                <div class="item graphics-bg">
                    <div class="corporate-img">
                        <img src="assets/images/webMarketing.svg" alt="Graphics icon">
                    </div>
                    <h3>Graphic Design</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <div class="btn-tag-group">
                        <a href="#!" class="btn btn-sky btn-min-w ">More details</a>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
    
</section>

<section class="graphics-what-we-do">
    <div class="container section">
        <div class="row justify-content-center ">
            <div class="col-md-12 col-lg-7 digital-marketing text-center">
                <h3>What We Do</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-xl-row flex-column">
                    <div  class="flex branding brand-mr ">
                        <div class="branding-pad">
                            <img src="assets/images/idea.png" alt="Idea">
                            <h2>Branding</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                            <ul class="row">
                                <div class="col-md-6 col-lg-6">
                                    <li>Logo Designing</li>
                                    <li>Website</li>
                                    <li>Printing Graphics</li>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <li>Typography</li>
                                    <li>Style Guide</li>
                                    <li>Color Palette</li>
                                </div>
                            </ul>
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 marketing-decision">
                            <img src="assets/images/makingDecisionsT20RO6woo.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-xl-row flex-column">
                    <div class="flex-1 marketing-decision">
                            <img src="assets/images/makingDecisionsT20RO6woo.png" alt="">
                    </div>
                    <div  class="flex branding brand-ml">
                        <div class="branding-pad">
                            <img src="assets/images/graphicsUx.png" alt="Ux">
                            <h2>UI/UX for Mobile App & Web</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                            <ul class="row">
                                <div class="col-md-6 col-lg-6">
                                    <li>UI Design</li>
                                    <li>UX Design</li>
                                    
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <li>Interaction Design</li>
                                    <li>Prototyping</li>
                                    
                                </div>
                            </ul>
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-xl-row flex-column">
                    <div  class="flex branding brand-mr">
                        <div class="branding-pad">
                            <img src="assets/images/vectorDesign.png" alt="Ux">
                            <h2>Graphic Design</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                            <ul class="row">
                                <div class="col-md-6 col-lg-6">
                                    <li>Illustrations</li>
                                    <li>Logo Design</li>
                                    
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <li>Icon Design</li>
                                    <li>Banner Design</li>
                                    
                                </div>
                            </ul>
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 marketing-decision">                     
                            <img src="assets/images/makingDecisionsT20RO6woo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form-ready-to">
    <div class="container section">
        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div class="form-img">
                    <div class="col-md-9 col-lg-12 ">                        
                        <div class="form-design ">
                            <div class="">
                                <h1 class="pb-md-3 pb-3">Ready to get Started</h1>
                                <span class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>       
                                    <span></span>
                                </span>
                            </div>
                            <form >
                                <div class="row pt-sm-3 pt-1">
                                    <div class=" col">
                                        <label for=""></label>
                                        <input type="text" class="form-control form-control-lg  " placeholder="Your Name">
                                    </div>
                                    <div class=" col">
                                        <label for=""></label>
                                        <input type="text" class="form-control form-control-lg " placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-md-12 col-lg-12 pt-sm-3 pt-1">
                                        <label for=""></label>
                                        <input type="text" class="form-control form-control-lg " placeholder="Subject">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-md-12 col-lg-12">
                                        <label for="exampleFormControlTextarea1"></label>
                                       <textarea name="" class="form-control" cols="30" rows="5">Message</textarea>
                                    </div>
                                </div>
                               
                                <div class="">
                                    <a href="#!" class="btn btn-primary btn-min-w mt-2 ">Work with us</a>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

