---
layout: default
title: Services
breadcrumb-title : Services
---
{% include header-1.html %}
{% include breadcrumb.html %}

<section class="company-experience">
    <div class="container section">
        <div class="row ">
            <div class="col-md-6 col-lg-3">
                <div class="box ml-2 mr-2">
                    <div class=" text-center">
                        <span>7+</span>
                        <p>Years of<br> experience</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ">
                <div class="box ml-2 mr-2">
                    <div class=" text-center">
                        <span>5+</span>
                        <p>UI/UX <br>Professionals</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ">
                <div class="box  ml-2 mr-2">
                    <div class=" text-center">
                        <span>140+</span>
                        <p>Project Done</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ">
                <div class="box ml-2 mr-2">
                    <div class=" text-center">
                        <span>10+</span>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="graphic_design">
    <div class="container">
        <div class="row section">
            <div class="col-md-12 col-lg-6 ">
                <div>
                    <h1>UI/UX & Graphic Designing</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</p>
                    <ul class="items-list d-flex">
                        <li>
                            <div class="item">
                                <img src="assets/images/xd.png" alt="Adobe XD">
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <img src="assets/images/figma.png" alt="Figma">
                            </div>
                        </li> 
                        <li>
                            <div class="item">
                                <img src="assets/images/ai.png" alt="Illustator">
                            </div>
                        </li> 
                        <li>
                            <div class="item">
                                <img src="assets/images/ps.png" alt="Photoshop">
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <img src="assets/images/blender.svg" alt="Blender">
                            </div>
                        </li>
                    </ul>
                    <div class="btn-tag-group">
                        <a href="#!" class="btn btn-warning btn-min-w ">LEARN MORE</a>
                    </div>
                </div>
                
            </div>
            <div class="col-md-12 col-lg-6">
                <div>
                    <img src="" alt="">
                </div>
            </div>
             
        </div>
    </div>
</section>