---
layout: default
title: Web Design & Developement
breadcrumb-title : Services
---

{% include header-1.html %}
{% include breadcrumb.html %}


<section class="position-relative">
    <div class="technical-tools">
        <img class="position-absolute" src="assets/images/DigitalMarketingCartoon.png" alt="">
    <div class="container  section">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2 text-center">
                <div class="overview digital-marketing">
                    <span>Overview</span>
                    <h3>Technical tools we work on</h3>
                    <span class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <ul class="col items-list d-flex row d-block d-sm-none owl-carousel slider">
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/WebDesignPhp.png" alt="Php">
                    </div>
                </li>
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/WebDesignNet.png" alt="Net-seeklogo.com">
                    </div>
                </li> 
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/WebDesignJava.png" alt="Java">
                    </div>
                </li> 
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/WebDesignWordpress.png" alt="Wordpress">
                    </div>
                </li>
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/WebDesignDrupal.png" alt="Drupal">
                    </div>
                </li>
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/WebDesignCakePhp.png" alt="Cake php">
                    </div>
                </li>
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/Javascript.png" alt="Javascript">
                    </div>
                </li> 
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/WebDesignLaravel.png" alt="Laravel">
                    </div>
                </li> 
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/WebDesignMagento.png" alt="Magento">
                    </div>
                </li>
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/Shopify.png" alt="Shopify">
                    </div>
                </li><li class="item">
                    <div class="item1">
                        <img src="assets/images/Html5.png" alt="Html">
                    </div>
                </li>
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/Css3.png" alt="Css3">
                    </div>
                </li> 
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/Angular.png" alt="Angular">
                    </div>
                </li> 
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/WebDesignNodejs.png" alt="Nodejs">
                    </div>
                </li>
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/WebDesignCodelgniter.png" alt="codelgniter">
                    </div>
                </li>
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/Mongodb.png" alt="Mongodb">
                    </div>
                </li>
                <li class="item">
                    <div class="item1">
                        <img src="assets/images/Sql.png" alt="Blender">
                    </div>
                </li>
            </ul>
        </div>
            <div class="d-none d-sm-block ">
            <ul class="items-list d-flex row ">
                <li class="">
                    <div class="item1">
                        <img src="assets/images/WebDesignPhp.png" alt="Php">
                    </div>
                </li>
                <li class="">
                    <div class="item1">
                        <img src="assets/images/WebDesignNet.png" alt="Net-seeklogo.com">
                    </div>
                </li> 
                <li class="">
                    <div class="item1">
                        <img src="assets/images/WebDesignJava.png" alt="Java">
                    </div>
                </li> 
                <li class="">
                    <div class="item1">
                        <img src="assets/images/WebDesignWordpress.png" alt="Wordpress">
                    </div>
                </li>
                <li class="">
                    <div class="item1">
                        <img src="assets/images/WebDesignDrupal.png" alt="Drupal">
                    </div>
                </li>
                <li class="">
                    <div class="item1">
                        <img src="assets/images/WebDesignCakePhp.png" alt="Cake php">
                    </div>
                </li>
                <li class="">
                    <div class="item1">
                        <img src="assets/images/Javascript.png" alt="Javascript">
                    </div>
                </li> 
                <li class="">
                    <div class="item1">
                        <img src="assets/images/WebDesignLaravel.png" alt="Laravel">
                    </div>
                </li> 
                <li class="">
                    <div class="item1">
                        <img src="assets/images/WebDesignMagento.png" alt="Magento">
                    </div>
                </li>
                <li class="">
                    <div class="item1">
                        <img src="assets/images/Shopify.png" alt="Blender">
                    </div>
                </li><li class="">
                    <div class="item1">
                        <img src="assets/images/Html5.png" alt="Html">
                    </div>
                </li>
                <li class="">
                    <div class="item1">
                        <img src="assets/images/Css3.png" alt="Css3">
                    </div>
                </li> 
                <li class="">
                    <div class="item1">
                        <img src="assets/images/Angular.png" alt="Angular-seeklogo">
                    </div>
                </li> 
                <li class="">
                    <div class="item1">
                        <img src="assets/images/WebDesignNodejs.png" alt="Nodejs">
                    </div>
                </li>
                <li class="">
                    <div class="item1">
                        <img src="assets/images/WebDesignCodelgniter.png" alt="codelgniter">
                    </div>
                </li>
                <li class="">
                    <div class="item1">
                        <img src="assets/images/Mongodb.png" alt="Photoshop">
                    </div>
                </li>
                <li class="">
                    <div class="item1">
                        <img src="assets/images/Sql.png" alt="Blender">
                    </div>
                </li>
            </ul>
        </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="custom-cms">
    <div class="container section">
        <ul class="box-item row">
            <li class="col text-left">
                <div class="item corporate-bg">
                    <div class="corporate-img">
                        <img src="assets/images/Connection.png" alt="Connection">
                    </div>
                    <div class="development"><h3>Custom CMS & CRM development</h3></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <div class="btn-tag-group">
                        <a href="#!" class="btn btn-sky btn-min-w ">More details</a>
                    </div>
                </div>
            </li>
            <li class="col">
                <div class="item ui-ux-bg">
                    <div class="corporate-img">
                        <img src="assets/images/Ecommerce.png" alt="Ecommerce">
                    </div>
                    <div class="development"><h3>UI/UX Web & App</h3></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <div class="btn-tag-group">
                        <a href="#!" class="btn btn-sky btn-min-w ">More details</a>
                    </div>
                </div>
            </li>
            <li class="col">
                <div class="item graphics-bg">
                    <div class="corporate-img">
                        <img src="assets/images/WebDesignGraphics.png" alt="Graphics icon">
                    </div>
                    <div class="development"><h3>Graphic Design</h3></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <div class="btn-tag-group">
                        <a href="#!" class="btn btn-sky btn-min-w ">More details</a>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
    
</section>

<section class="graphics-what-we-do">
    <div class="container section">
        <div class="row justify-content-center ">
            <div class="col-md-12 col-lg-7 digital-marketing text-center">
                <h3>What We Do</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
                
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-xl-row flex-column">
                    <div  class="flex branding brand-mr ">
                        <div class="branding-pad">
                            <img src="assets/images/Blogging.png" alt="Blogging">
                            <h2>Custom CMS & CRM development</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</p>
                            <ul class="row">
                                <div class="col-md-6 col-lg-6">
                                    <li>Quick deployment on the server</li>
                                    <li>Cost-efficiency</li>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <li>The ease of maintenance</li>
                                    <li>SEO-friendly features</li>
                                </div>
                            </ul>
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 marketing-decision">
                            <img src="assets/images/MakingDecisions.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-xl-row flex-column">
                    <div class="flex-1 marketing-decision">
                            <img src="assets/images/MakingDecisions.png" alt="">
                    </div>
                    <div  class="flex branding brand-ml">
                        <div class="branding-pad">
                            <img src="assets/images/EcommerceWebDevelopment.png" alt="Ecommerce-web-development">
                            <h2>E-commence web development</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</p>
                            <ul class="row">
                                <div class="col-md-6 col-lg-6">
                                    <li>Shopping Cart Development</li>
                                    <li>Plugin & Module Development</li>
                                    
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <li>Responsive Web Development</li>
                                    <li>E-Com. Store Customization</li>
                                    
                                </div>
                            </ul>
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-xl-row flex-column">
                    <div  class="flex branding brand-mr">
                        <div class="branding-pad">
                            <img src="assets/images/TargetAudience.png" alt="Target audience">
                            <h2>Corporate & agency web development</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</p>
                            <ul class="row">
                                <div class="col-md-6 col-lg-6">
                                    <li>Website Design & Re-design</li>
                                    <li>User Experience & Design</li>
                                    
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <li>Contentful Developement</li>
                                    <li>Digital Strategy</li>
                                    
                                </div>
                            </ul>
                            <div class="btn-tag-group">
                                <a href="#!" class="btn btn-warning btn-min-w ">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 marketing-decision">                     
                            <img src="assets/images/MakingDecisions.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form-ready-to">
    <div class="container section">
        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div class="form-img">
                    <div class="col-md-9 col-lg-12 ">                        
                        <div class="form-design ">
                            <div class="">
                                <h1 class="pb-md-3 pb-3">Ready to get Started</h1>
                                <span class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>       
                                    <span></span>
                                </span>
                            </div>
                            <form >
                                <div class="row pt-sm-3 pt-1">
                                    <div class=" col">
                                        <label for=""></label>
                                        <input type="text" class="form-control form-control-lg  " placeholder="Your Name">
                                    </div>
                                    <div class=" col">
                                        <label for=""></label>
                                        <input type="text" class="form-control form-control-lg " placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-md-12 col-lg-12 pt-sm-3 pt-1">
                                        <label for=""></label>
                                        <input type="text" class="form-control form-control-lg " placeholder="Subject">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-md-12 col-lg-12">
                                        <label for="exampleFormControlTextarea1"></label>
                                       <textarea name="" class="form-control" cols="30" rows="5">Message</textarea>
                                    </div>
                                </div>
                               
                                <div class="">
                                    <a href="#!" class="btn btn-primary btn-min-w mt-2 ">Work with us</a>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

