<section class="breadcrumb-bg-color position-relative">
    <img class="position-absolute" src="./assets/images/breadcrumb-bg-img.svg" alt="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="">
                    <ol class="breadcrumb">
                        <h1>{{page.title}}</h1>
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{page.breadcrumb-title}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

