<section class="">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <span class="sub-title">Enterprise CRM solutions Provider</span>
            <h1>We Love Design & Develop For You</h1>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some</p>
            <a href="#!" class="btn btn-primary">Case Studies</a>
        </div>
        <div class="col-md-6">
            <img src="{{ '/assets/images/laptop-on-desk.png' | relative_url }}" class="img-fluid" />
        </div>
    </div>
</div>
</section>