.digital-marketing{
    
    h3 {
        font-size: 42px;
        color: $theme-color;
        font-weight: $type-bold;
        font-family: $font-inter;

        @media #{$xs} {
            font-size: 28px;
        }
    }
    p {
        padding: 20px 0;
        color: #1F2123;
        font-family: $font-work-sans;
    }
}
.technical-tools{
    background-color: #ECF0F3 !important;
        .section{
            @media #{$xs}{
                padding:40px 15px 40px;
            }
        }
        img{
            right: 37px;
            top: -192px;
            max-width: 400px;
            @media #{$xxl} {
                right: 22px;
            }
            @media #{$laptop} {
                right: 5px;
                top: -133px;
            }
            @media #{$lg}{
                right: 0px;
                top: -266px;
                max-width: 300px;
            }
            @media #{$md} , #{$sm} , #{$xs}{
                max-width: 0px;
            }
        }
    .overview {
        span{
            color: $theme-secondary;
            font-size: $font-20;
            text-transform: $text-uppercase;
            font-family: $font-inter;
        }
        h3{
            padding-bottom: 15px;
        }
        p{
            color: $theme-para;
            font-family: $font-work-sans;
        }
        .lines{
            display: flex;
            width: 40%;
            margin: 0 auto;
            span{
                display: block;
                background-color: $theme-secondary;
                height:5px;
               @include border-radius(10px);
                
                &:first-child{
                    width: 100%;
                }            
                &:nth-child(2){
                    width: 50%;
                }            
                &:nth-child(3){
                    width: 25%;
                }            
                &:last-child{
                    width: 15%;
                }   
                
                &:not(:last-child){
                    margin-right: 15px;
                }   
            }
            @media #{$sm}{
                width: 40%;
            }
            @media #{$xs} {
                width: 57%;
            }
        }
    }
    .items-list {
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            width: calc(100% / 6);
            margin-bottom: 30px;
            @media #{$lg} {
                width: calc(100% / 5);
            }
            @media #{$md} , #{$sm} {
                width: calc(100% / 3);
            }
            @media #{$xs}{
                width: calc(100% / 2);
            }

            .item1 {
                height: 150px;
                width: 150px;
                margin: 0 auto;
                @include border-radius(150px);
                background: #ECF0F3;
                box-shadow :15px 15px 25px#cad2e0, 15px 15px 25px $white;
                @include display-flex(flex, center, center);
                img {
                    max-width: 50%;
                }
            }
        }
    }
}
.digital-marketing-parts {
    .section {
        @media #{$xs} {
            padding: 40px 15px 40px;
        }
    }
    img{
        max-width: 1100px;
        @media #{$lg}{
            max-width: 900px;
        }
        @media #{$md}{
            max-width: 682px;
        }
        @media #{$sm}{
            max-width: 500px;
        }
        @media screen and (min-width:320px) and (max-width:575px) {
            max-width: 320px;
        }
    }
}
.what-we-do{
    background-color: $services-bg-color;
    .section {
        @media #{$xs} {
            padding: 40px 15px 40px;
        }
    }
    .box-item {
        margin: 0;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        
        li {
            width: calc(100% / 2);
            display: flex;
            justify-content: center;
            margin-bottom: 80px;
            
            @media #{$lg} {
                width: calc(100% / 2);
            }
            @media #{$md} , #{$sm} {
                width: calc(100% / 2);
            }
            @media #{$xs}{
                width: calc(100% / 1);
            }

            .item {
                width: 450px;
                height: 500px;
                padding:0px 50px;      
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                @include border-radius(69px);
                background: transparent linear-gradient(139deg, #FFFFFF00 0%, #FFFFFFBD 78%, #FFFFFF 89%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
                @media #{$lg}{
                    width: 400px;
                }
                @media #{$md}{
                    width: 300px;
                    height: 450px;
                }
                img {
                    max-width: 30%;
                }
                h3{
                    padding-top: 25px;
                    color: $theme-color;
                    font-weight: $type-bold;
                    font-family: $font-inter;
                    @media #{$md}{
                        font-size: 20px;
                    }  
                }
                p{
                    padding-top: 10px;
                    color: #1F2123;
                    font-family: $font-work-sans;
                    font-weight: $type-medium;
                    font-size: 14px;
                    @media #{$md} {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.digital-get-in-touch {
    position: relative;
    background-color: $services-bg-color;
    padding-top: 150px !important;
    padding-bottom:180px !important;
    @media #{$md} {
        padding-bottom: 874px !important;
        padding-top: 0px !important;
    }
    
    .hand{
        position: absolute;
        bottom: -20%;
        right: 0;
        z-index: 3;
        height: 50%;
        width: 20%;
        background: url("../images/hand.png") no-repeat bottom right -70px;
        @media #{$laptop} {                
            background: url("../images/hand.png") no-repeat bottom right -138px;
        }
        @media #{$lg} {
            position: absolute;
            bottom: -21%;
            right: 0px;
            z-index: 3;
            height: 54%;
            width: 30%;
        }
        @media #{$md} {
            bottom: -16%;
            right: 0;
            height: 50%;
            width: 38%;
        }
        
    }
    .white-box{
        background: $white;
        width: 300px;        
        padding: 30px 25px;
        text-align: center;
        @include border-radius(40px);
        @include box-shadow(0 0 80px 0 rgba(181,181,181,.40));    
        h2{
            font-size: 38px;
            // color: $theme-para;
            font-weight: $type-bold;
            font-family: $font-inter;
            padding-top: 15px;
        }    
         span{
            color:#ACB3C6;
         }
        &.call-us{
            position: absolute;
            top:60%;
            margin-top: -150px;
            left: 45%;
            z-index: 2;
            @media #{$laptop} {                
                top: 45%;
            }
            @media #{$lg}{
                left: 36%;
                top:54%;
            }
            @media #{$md} {
                top: 70%;
                margin-top: 15px;
                left: 4%;
            }
            
   
        }
        &.join-us{
            position: absolute;
            top:10%;
            right:20%;
            z-index: 2;
            img{
                max-width: 70%;
                @media #{$xs} {
                    max-width: 50%;
                }
            }

            @media #{$xxl} {
                right:12%;
            }
            @media #{$laptop} {
                right:5%;
            }
            @media #{$lg}{
                top: 5%;
                right: 12%;
            }
            @media #{$md} {
                top: 50%;
                right: 27%;
            }
            
        }
        &.write-on{
            position: absolute;
            bottom:10%;
            right:12%;
            z-index: 2;
            @media #{$md} {
                bottom: 2%;
                right: 24%;
            }
            
        }
    }
    .img-right{
        position: relative;
        
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;    
        z-index: 1;    
        height: 100%;
        width:100%;
        background: url("../images/get-in-touch-line.png") no-repeat top 150px right -10px;
        background-size: 62%;
        @media #{$xxl} {         
            background: url('../images/get-in-touch-line.png') no-repeat top 50% right -3px;
            background-size: 65%;
        }
        @media #{$laptop} {         
            background: url('../images/get-in-touch-line.png') no-repeat top 50% right -3px;
            background-size: 65%;
        }
        @media #{$lg}{
            background: url('../images/get-in-touch-line.png') no-repeat top 55% right -3px;
            background-size: 69%;
        }
        @media #{$md} , #{$xs} {
            display: none;
        }
                    
    }
    &::after{
        content: "";
        position: absolute;
        top: 45%;
        right: 15%;
        margin-top: -275px;
        height: 600px;
        width: 600px;        
        background: $theme-color;
        @include border-radius(100%);
        @media #{$lg}{
            top: 50%;
            right: 4%;
        }
        @media #{$md} {
            top:75%;
        }
        
    }
    
}

.digital-get-in-touch-mobile {
    background-color: $services-bg-color;
    h2{
        @media #{$xs}{
            font-size: 34px;
        }
    }
    .white-box{
        background: $white;
        width: 300px;        
        padding: 30px 25px;
        text-align: center;
        @include border-radius(40px);
        @include box-shadow(0 0 80px 0 rgba(181,181,181,.40));  
        display: block;
        margin: 0 auto;

        h2{
            font-size: 38px;
            // color: $theme-para;
            font-weight: $type-bold;
            font-family: $font-inter;
            padding-top: 15px;
            @media #{$xs} {
                font-size: 28px;
            }
        }    
         span{
            color:#ACB3C6;
         }
         &.join-us{
             img{
                 max-width: 50%;
             }
         }
         
    }
}