.graphics-design{
    
    h3 {
        font-size: 42px;
        color: $theme-color;
        font-weight: $type-bold;
        font-family: $font-inter;

        @media #{$xs} {
            font-size: 28px;
        }
    }
    p {
        padding: 20px 0;
        color: #1F2123;
        font-family: $font-work-sans;
    }
}
.technical-tools{
    background-color: #ECF0F3 !important;
        .section{
            @media #{$xs}{
                padding:40px 15px 40px;
            }
        }
        img{
            right: 37px;
            top: -192px;
            max-width: 400px;
            @media #{$xxl} {
                right: 22px;
            }
            @media #{$laptop} {
                right: 5px;
                top: -175px;
            }
            @media #{$lg}{
                right: 9px;
                top: -183px;
                max-width: 300px;
            }
            @media #{$md} , #{$sm} , #{$xs}{
                max-width: 0px;
            }
        }
    .overview {
        span{
            color: $theme-secondary;
            font-size: $font-20;
            text-transform: $text-uppercase;
            font-family: $font-inter;
        }
        h3{
            padding-bottom: 15px;
        }
        p{
            color: $theme-para;
            font-family: $font-work-sans;
        }
        .lines{
            display: flex;
            width: 40%;
            margin: 0 auto;
            span{
                display: block;
                background-color: $theme-secondary;
                height:5px;
               @include border-radius(10px);
                
                &:first-child{
                    width: 100%;
                }            
                &:nth-child(2){
                    width: 50%;
                }            
                &:nth-child(3){
                    width: 25%;
                }            
                &:last-child{
                    width: 15%;
                }   
                
                &:not(:last-child){
                    margin-right: 15px;
                }   
            }
            @media #{$sm}{
                width: 40%;
            }
            @media #{$xs} {
                width: 57%;
            }
        }
    }
    .items-list {
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            position: relative;
            width: calc(100% / 6);
            margin-bottom: 30px;
            transition: 0.5s all ease-in;
            text-align: center;
            @media #{$lg} {
                width: calc(100% / 5);
            }
            @media #{$md} , #{$sm} {
                width: calc(100% / 3);
            }
            @media #{$xs}{
                width: calc(100% / 2);
            }
           
            .item1 {
                height: 150px;
                width: 150px;
                @include border-radius(150px);
                margin: 0 auto;
                background: #ECF0F3;
                box-shadow :15px 15px 25px#cad2e0, 15px 15px 25px $white;
                @include display-flex(flex, center, center);
                z-index: 2;
                position: relative;
                img {
                    max-width: 50%;
                   
                }
            }
            h2{
                opacity: 0;
                position: absolute;
                transform: translateY(0%);
                top: 50%;
                text-align: center;
                transition: 0.5s all ease-in;
                font-size:24px;
                left: 0;
                width: 100%;
                z-index: 1;
            }
            &:hover{
                margin-top: -20px;
                transition: 0.5s all ease-in;
                
                h2{
                    opacity: 1;
                    position: absolute;
                    transform: translateY(100%);
                    transition: 0.5s all ease-in;
                    margin-top: 40px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    left: 0;
                    width: 100%;
                   
                }
            }
        }
    }
}

.corporate-branding{
    background-color: $white;
    .section {
        @media #{$xs} {
            padding: 40px 15px 40px;
        }
    }
    .box-item {
        margin: 0;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        
        li {
            width: calc(100% / 3);
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            
            @media #{$lg} {
                width: calc(100% / 3);
            }
            @media #{$md} , #{$sm} {
                width: calc(100% / 2);
            }
            @media #{$xs}{
                width: calc(100% / 1);
            }
            .corporate-bg{
                background: transparent linear-gradient(268deg, #32BCED 0%, #82D1E8 100%) 0% 0% no-repeat padding-box;
                box-shadow: -20px 50px 76px #41C0EC47; 
                .corporate-img{
                    width: 130px;
                    height: 130px;
                    background: #c9f8ff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        max-width: 82px;
                        height: 82px;
                    }
                }
                
            }
            .ui-ux-bg{
                background: transparent linear-gradient(268deg, #102559 0%, #00599A 100%) 0% 0% no-repeat padding-box;
                box-shadow: -20px 50px 76px #044E8C47;
                .corporate-img{
                    width: 130px;
                    height: 130px;
                    background: #9dbeda;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        max-width: 82px;
                        height: 82px;
                    }
                }
            }
            .graphics-bg{
                background: transparent linear-gradient(268deg, #F77C0C 0%, #FFBD22 100%) 0% 0% no-repeat padding-box;
                box-shadow: -20px 50px 76px #FDAE1D47;
                .corporate-img{
                    width: 130px;
                    height: 130px;
                    background: #ffe6a7;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        max-width: 82px;
                        height: 82px;
                    }
                }
            }
            .item {
                width: 398px;
                height: 420px;
                padding:0px 48px;      
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                @include border-radius(50px); 
                @media #{$lg} {
                    height: 470px;
                }
                @media #{$md}{
                    width: 315px;
                    height: 420px;
                }
                @media #{$xs} {
                    width: 398px;
                    height: 424px;
                    padding: 0px 30px;
                }
                h3{
                    font-size: 25px;
                    padding-top: 25px;
                    color: $white;
                    font-weight: $type-bold;
                    font-family: $font-inter;
                    @media #{$md} , #{$xs}{
                        font-size: 20px;
                    }  
                }
                p{
                    padding-top: 10px;
                    color: $white;
                    font-family: $font-work-sans;
                    font-weight: $type-medium;
                    font-size: 14px;
                    @media #{$md} {
                        font-size: 12px;
                    }
                }

                .btn-sky{
                    background: #CAF7FF 0% 0% no-repeat padding-box;
                    border-radius: 25px;
                    color: #2D629E;
                }

            }
        }
    }
}

.graphics-what-we-do{
    background-color: $services-bg-color;
    .branding{
        background: transparent linear-gradient(146deg, #FFFFFF00 0%, #FFFFFFBD 78%, #FFFFFF 89%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        @include border-radius(50px);
        img{
            max-width: 90px;
        }
        h2{
            color: $theme-color;
            font-weight: $type-bold;
            padding-top: 20px;
            @media #{$lg} , #{$md} , #{$xs} {
                font-size: 24px;
            }
        }
        p{
            color: #1F2123;
            @media #{$lg} , #{$md} , #{$xs} {
                font-size: 14px;
            }
        }
        ul{
            position: relative;
            li{
                color: #160C24;
                font-weight: $type-semi-bold;
                font-size: 20px;
                padding-left: 30px;
                padding-top: 15px;
                @media #{$lg} , #{$md} ,#{$xs} {
                    font-size:15px;
                }
                &::before{
                    content: "";
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    background: transparent linear-gradient(180deg, #071539 0%, #0A3770 35%, #00599A 100%) 0% 0% no-repeat padding-box;
                    @include border-radius(50%);
                    margin-top: 12px;
                    margin-left: 20px;
                    left:0px;
                    @media #{$lg} , #{$md} {
                        margin-top: 7px;
                    }
                    @media #{$xs} {
                        margin-top: 7px;
                    }
                }
            }
        }
    }
    .marketing-decision{
        img{
            max-width: 100%;
        }
    }
    .d-flex{
        display: flex;
        padding: 80px 0px 0px;
        @media #{$lg} , #{$md} , #{$xs} {
            padding: 0px;
        }
    }
    .flex-1{
        flex: 1;
        @media #{$lg} , #{$md} , #{$xs}{
            order: 1;
        }
        
    }
    .flex {
        flex: 1; 
        @media #{$lg} , #{$md} {
            order: 0;
            margin-bottom: 50px;
            margin-top: 50px;
        }
        @media #{$xs}{
            margin-bottom: 30px;
            margin-top: 30px;
            order: 0;
        }
        .branding-pad{
            padding: 35px 50px;  
        }    
    }
    .brand-mr{
        margin-right: 50px;
        @media #{$lg} ,#{$md} , #{$xs} {
            margin-right: 0px;
        }
    }
    .brand-ml{
        margin-left: 50px;
        @media #{$lg} ,#{$md} , #{$xs} {
            margin-left: 0px;
        }
    }
}



.form-ready-to{
    background: url("../images/ServiceCartton5.png") no-repeat right -300px top 90px , url("../images/RoundLine.png") no-repeat right 30% bottom 12%;
        background-size: 50% , 17%;
        background-color: #fafbfb;
        .section{
            @media #{$md} ,#{$xs} {
                padding: 40px 15px;
            }
        }
        @media screen and (min-width:1536px) and (max-width:1720px){
            background: url("../images/ServiceCartton5.png") no-repeat right -300px top 40px , url("../images/RoundLine.png") no-repeat right 34% bottom 22%;
            background-size: 58% , 17%;
        }
        @media #{$xxl} {
            background: url("../images/ServiceCartton5.png") no-repeat right -300px top 90px , url("../images/RoundLine.png") no-repeat right 30% bottom 20%;
            background-size: 58% , 17%;
        }
        @media #{$laptop} {
            background: url("../images/ServiceCartton5.png") no-repeat right -259px top 90px , url("../images/RoundLine.png") no-repeat right 32% bottom 29%;
            background-size: 58% , 17%;
        }
        @media #{$lg} {
            background: url("../images/ServiceCartton5.png") no-repeat right -250px top 90px , url("../images/RoundLine.png") no-repeat right 29% bottom 36%;
            background-size: 58% , 19%;
        }
        @media #{$md} ,#{$sm} , #{$xs} {
            background: none;
           
        }
    .form-img{
        background: url("../images/Paper2.png") no-repeat left  0px top 0px ;
        background-size: 100% ;
        padding: 70px 50px 157px 50px;
        @media #{$xxl} , #{$laptop} {
            background-size: 95%;
            padding: 70px 80px 157px 50px;
        }
        @media #{$lg} {
            padding: 70px 50px 92px 50px;
        }
        @media #{$md} {
            background: url("../images/Paper2.png") no-repeat left  0px top 0px ;
            background-size: 82% ;
        }
        @media #{$xs} {
            background: none;
            background-color: #efefef;
            padding: 20px 0px 25px 0px;
            @include border-radius(20px);
        }
        .form-design{
            padding:20px;
        }
        h1{
            color: $theme-color;
            font-weight: $type-bold;
            @media #{$md} ,#{$sm} , #{$xs} {
                font-size: 28px;
            }
        }
        .lines{
            display: flex;
            width: 40%;
            span{
                display: block;
                background-color: $theme-secondary;
                height:5px;
                border-radius:10px;
                
                &:first-child{
                    width: 100%;
                }            
                &:nth-child(2){
                    width: 50%;
                }            
                &:nth-child(3){
                    width: 25%;
                }            
                &:last-child{
                    width: 15%;
                }   
                
                &:not(:last-child){
                    margin-right: 15px;
                }   
            }
            @media #{$md} ,#{$sm} , #{$xs} {
                width: 55%;
            }
        }
        form{
            input::placeholder{
                color:#707070;
            }
            .form-control{
                font-size: 16px;
                border:1px solid #ACB3C6;
                @media #{$xs} {
                    font-size: 14px;
                }
                &textarea{
                    font-size: 16px; 
                    color: #707070;
                    @media #{$xs} {
                        font-size: 14px;
                    }
                }
            }
            
        }
    }
}