.company-experience {
    .section{
        @media #{$md}{
            padding: 40px 15px;
        }
        @media #{$xs} ,#{$sm}{
            padding:30px 15px;
        }
    }
    .box{
        width: 240px;
        height: 196px;
        box-shadow: 5px 12px 48px #4AB4D317;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        @media #{$md}{
            width: 313px;
        }
        @media #{$xs} {
            width: 328px;
        }
        h3{
            color: $theme-secondary;
            font-size: 40px;
            font-weight: $type-bold;
        }
        span{
            color: $theme-secondary;
            font-size: 40px;
            font-weight: $type-bold;
        }
        p{
            color: $blue-color;
            font-size: 20px;
            font-weight: $type-semi-bold;
            text-transform:$text-uppercase;
        }
    }
}
.services-design {
    h3 {
        font-size: 42px;
        color: $theme-color;
        font-weight: $type-bold;
        font-family: $font-inter;

        @media #{$xs} ,#{$sm}, #{$md} {
            font-size: 26px;
        }
    }
    p {
        
        padding: 20px 0;
        color: #160C24;
        font-family: $font-work-sans;
        @media #{$xs} {
            padding: 5px 0px;
        }
    }
    .items-list{
        li{
            padding-right: 4px !important;
            padding-bottom: 25px;
            padding-left: 10px;
            .item1{
                box-shadow: 15px 15px 25px #cad2e0, -15px -15px 25px #fff;
                width: 65px;
                height: 65px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 45px;
                 @media #{$xs} {
                     width: 100px;
                     height: 100px;
                     border-radius: 50px;
                 }
                
                img{
                    max-width: 25px;
                    @media #{$xs} {
                        max-width: 40px;
                    }
                }
            }
        }
    }
}
.graphic_design{
    background-color: #ECF0F3;
    .ui-ux{
        
        background: url('../images/ServiceCartton1.png') no-repeat right 16% top 50%;
        background-size: 545px;
        @media #{$xxl} {
            background: url('../images/ServiceCartton1.png') no-repeat right 8% top 50%;
            background-size: 545px;
        }
        @media #{$laptop} {
            background: url('../images/ServiceCartton1.png') no-repeat right -5% top 50%;
            background-size: 545px;
        }
        
        @media #{$md} ,#{$sm} , #{$xs} {
            background: none;
        }
        .slider{
            max-width: 312px;
            .item1{
                box-shadow: 7px 15px 25px #cad2e0, 0px 2px 23px #fff;
            }
        }
        .section{
            @media #{$xs} ,#{$md} {
                padding:40px 0px;
            }
        }
        
    }

}

.web_design_development{
    .web-design{
        background: url('../images/ServiceCartton2.svg') no-repeat left 20% top 40%;
        background-size: 800px;
        @media #{$xxl} {
            background: url('../images/ServiceCartton2.svg') no-repeat left 2% top 40%;
            background-size: 800px;
        }
        @media #{$laptop} {
            background: url('../images/ServiceCartton2.svg') no-repeat left -10% top 40%;
            background-size: 800px;
        }
        @media #{$lg} {
            background: url('../images/ServiceCartton2.svg') no-repeat left -30% top 40%;
            background-size: 800px;
        }
        @media #{$md} ,#{$sm} , #{$xs} {
            background: none;
        }
        .slider{
            max-width: 312px;
            .item1{
                box-shadow: 7px 15px 25px #cad2e0, 0px 2px 23px #fff;
            }
        }
        .section{
            @media #{$xs} ,#{$md} {
                padding:40px 0px;
            }
        }
    }  
}
.digital_marketing_seo{
    background-color: #ECF0F3;
    .digital-marketing{
        background: url("../images/ServiceCartton3.svg") no-repeat right 22% top 23%;
        background-size: 678px;
        @media #{$xxl} {
            background: url("../images/ServiceCartton3.svg") no-repeat right 12% top 35%;
            background-size: 660px;
        }
        @media #{$laptop} {
            background: url("../images/ServiceCartton3.svg") no-repeat right -3% top 23%;
            background-size: 678px;
        }
        @media #{$lg} {
            background: url("../images/ServiceCartton3.svg") no-repeat right -3% top 23%;
            background-size: 737px;
        }
        @media #{$md} ,#{$sm} , #{$xs} {
            background: none;
        }
        h3{
            @media #{$md}{
                font-size: 26px;
            }
        }
        .slider{
            max-width: 312px;
            .item1{
                box-shadow: 7px 15px 25px #cad2e0, 0px 2px 23px #fff;

            }
        }
        .section{
            @media #{$xs} ,#{$md}{
                padding:40px 0px;
            }
        }
    }  
}
.development_operation{
    &.section{
        @media #{$md} ,#{$sm} , #{$xs}{
            padding: 0px;
        }
    }
    .development{
        background: url("../images/ServiceCartton4.png") no-repeat left 11% top 40%;
        background-size: 767px;
        @media #{$xxl} {
            background: url('../images/ServiceCartton4.png') no-repeat left 2% top 40%;
            background-size: 767px;
        }
        @media #{$laptop} {
            background: url('../images/ServiceCartton4.png') no-repeat left -10% top 40%;
            background-size: 767px;
        }
        @media #{$lg} {
            background: url('../images/ServiceCartton4.png') no-repeat left -10% top 40%;
            background-size: 700px;
        }
        @media #{$md} ,#{$sm} , #{$xs} {
            background: none;
        }
        .section{
            @media #{$xs} , #{$md}{
                padding:40px 0px;
            }
        }
    } 
}

.ready_to_get_started{
    background: url("../images/ServiceFormBg.png") no-repeat left top;
    background-size: 100%;
    padding-bottom: 40px;
    @media #{$xxl}{
        padding-bottom: 24px;
    }
    @media #{$laptop}{
        background: url("../images/ServiceFormBg.png") no-repeat left top;
        background-size: 120%;
        padding-top: 50px;
    }
    @media #{$lg} {
        background: url("../images/ServiceFormBg.png") no-repeat left top;
        background-size: 140%;
        padding-top: 50px;
    }
    @media #{$xs} ,#{$md} {
        padding-bottom:0px;
    }

    .ready{
        background: url("../images/ServiceCartton5.png") no-repeat right -300px top 90px , url("../images/ServiceFormRoundLine.png") no-repeat right 30% bottom 8%;
        background-size: 50% , 20%;
        @media screen and (min-width:1536px) and (max-width:1720px){
            background: url("../images/ServiceCartton5.png") no-repeat right -300px top 40px , url("../images/ServiceFormRoundLine.png") no-repeat right 34% bottom 6%;
            background-size: 58% , 20%;
        }
        @media #{$xxl} {
            background: url("../images/ServiceCartton5.png") no-repeat right -300px top 40px , url("../images/ServiceFormRoundLine.png") no-repeat right 32% bottom 10%;
            background-size: 58% , 20%;
        }
        @media #{$laptop} {
            background: url("../images/ServiceCartton5.png") no-repeat right -259px top 0px , url("../images/ServiceFormRoundLine.png") no-repeat right 32% bottom 20%;
            background-size: 55% , 25%;
        }
        @media #{$lg} {
            background: url("../images/ServiceCartton5.png") no-repeat right -350px top 0px , url("../images/ServiceFormRoundLine.png") no-repeat right 28% bottom 20%;
            background-size: 62% , 25%;
        }
        @media #{$md} ,#{$sm} , #{$xs} {
            background: none;
            background-color: $blue-color;
            padding-bottom: 59px;
        }

        .section{
            padding: 170px 0px 0px 0px;
            @media screen and (min-width:1536px) and (max-width:1720px){
                padding: 100px 0px 0px 0px;
            }
            @media #{$xxl} {
                padding: 50px 0px 0px 0px;
            }
            @media #{$laptop} {
                padding: 0px 0px 0px 0px;
            }
            @media #{$lg}{
                padding: 0px 0px 0px 0px;
            }
            @media #{$md} ,#{$sm} , #{$xs} {
                padding: 40px 0px 0px 0px;
            }
        }
        h1{
            color: $white;
            font-weight: $type-bold;
            @media #{$md} ,#{$sm} , #{$xs} {
                font-size: 28px;
            }
        }
        .lines{
            display: flex;
            width: 40%;
            span{
                display: block;
                background-color: $theme-secondary;
                height:5px;
                border-radius:10px;
                
                &:first-child{
                    width: 100%;
                }            
                &:nth-child(2){
                    width: 50%;
                }            
                &:nth-child(3){
                    width: 25%;
                }            
                &:last-child{
                    width: 15%;
                }   
                
                &:not(:last-child){
                    margin-right: 15px;
                }   
            }
            @media #{$md} ,#{$sm} , #{$xs} {
                width: 30%;
            }
        }
        .form-design{
            height: 560px;  
            background: transparent linear-gradient(180deg, #D27326 0%, #F98910 27%, #FFDD00 100%) 0% 0% no-repeat padding-box;
            border-radius: 10px 300px 10px 90px;
            @media #{$md} {
                border-radius: 20px 20px 20px 20px;
                height: 500px;
            }
            @media #{$sm}  {
                border-radius: 20px 20px 20px 20px;
            }
            @media #{$xs} {
                border-radius: 20px 20px 20px 20px;
                background: transparent linear-gradient(180deg, #D27326 0%, #F98910 27%, #FFDD00 100%) 0% 0% no-repeat padding-box;
                width: 340px;
                height: auto;
            }
            form{
                padding: 40px 80px;
                @media #{$md} {
                    padding:0px 40px 40px 40px;
                }
                @media #{$xs}{
                    padding:0px 40px 40px 40px;
                }
                .form-control-lg{
                    font-size: 16px;
                    
                }
                label{
                    padding: 15px 0px;
                }
                input{
                    border-bottom: 2px solid $white;
                    border-radius: 0px;
                    padding-left: 0px;
                    padding-bottom: 25px;

                }
                input::placeholder{
                    color:$white;
                    
                }
                .form-control{
                    font-size: 16px;
                    color: $white;
                    background-color:  transparent;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-right-color: transparent;

                }
                .form-group{
                    margin-bottom:0px;
                }
            }
        }
    }
}

 
